<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="ISO-8859-1">
    <title>MemoryBook Memory</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand" href="#">MemoryBook</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page" href="#" th:href="@{/}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/children}">Children</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" th:href="@{/memories}">Memories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/profile}">Profile</a>
                </li>

            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class= "nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link default" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

<div class="container my-2">
    <h1>Memory List</h1>

    <a th:href="@{/showNewMemoryForm/{id}(id=${id})}" class="btn btn-primary btn-sm mb-3"> Add Memory </a>

<!--    <form action="#" th:action="@{/showMemoryByDate}" th:object="${memory}" method="GET">-->
<!--        <input type="text" th:field="*{m}" placeholder="Search by Date" class="form-control mb-4 col-4" >Find Memory by date-->
<!--    </form>-->

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Memory Title</th>
            <th>Date</th>
            <th>Memory Note</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memories : ${listMemories}">
            <td th:text="${memories.title}"></td>
            <td th:text="${memories.date}"></td>
            <td th:text="${memories.note}"></td>
            <td><a th:href="@{/showMemoryUpdate/{childId}/{id}(childId=${childId}, id=${memories.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteMemory/{childId}/{id}(childId=${childId}, id=${memories.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container my-2">
    <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a>
</div>
</body>
</html>